/*****************************************/
/* Button stylings                       */
/*****************************************/
.btn {
  padding: 0.8em 1.5em;
  font-size: 16px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  transition: 0.3s ease;
  z-index: 10;
  width: auto;
  width: fit-content;
  white-space: nowrap;
}
.btn:hover {
  cursor: pointer;
}

/*****************************************/

.btn-primary {
  color: var(--IBF-white);
  background: var(--IBF-pink);
}
.btn-primary:hover {
  color: var(--IBF-white);
  background: var(--IBF-dark-pink);
}

/*****************************************/

.btn-secondary {
  color: var(--IBF-pink);
  background: none;
  border: 1px solid var(--IBF-pink);
}
.btn-secondary:hover {
  color: var(--IBF-white);
  background: var(--IBF-pink);
}

/*****************************************/

.btn-tertiary {
  color: var(--IBF-green);
  background: none;
  border: 1px solid var(--IBF-green);
}
.btn-tertiary:hover {
  color: var(--IBF-white);
  background: var(--IBF-green);
}

/*****************************************/

.btn-confirmed {
  background-color: var(--IBF-green);
  color: white;
}
.btn-confirmed:hover {
  background-color: var(--IBF-soft-green);
  color: white;
  border: none;
  cursor: default !important;
}
