/*****************************************/
/* Fonts stylings                        */
/*****************************************/
h1,
h2,
h3,
h4 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 120%;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
  color: var(--IBF-pink);
}

#spotlight-banner h4 {
  color: var(--IBF-pink);
}

#regular-banner-with-cards h4,
#rich-text-with-cards h4 {
  color: var(--IBF-green);
}

p {
  margin: 0;
  line-height: 150%;
}

.small-text {
  font-size: 16px;
}

.t-pink {
  color: var(--IBF-pink) !important;
}

.tags {
  font-size: 14px;
  color: var(--IBF-dark-grey);
}

/*****************************************/
/* Cards                                 */
/*****************************************/

.card-tag,
.card-color {
  color: var(--IBF-dark-grey);
}
