<section id="articleSection">
  <div class="container max-8 gap-24px">
    <div class="container flex-column j-c-center gap-1">
      <div class="intro-text-container container flex-column a-i-start gap-15">
        <h2></h2>
        <span class="intro">
          iBuyFlowers was founded by Wilfred de Wit, son of a Dutch lily grower.
          When he was young, he moved to Ecuador to start his own career in
          flowers. It was there that he realized that the flower industry needed
          a change.
        </span>

        <div class="aspect-ratio-container container order-1-mobile">
          <a target="_blank" href="#">
            <div class="img-container">
              <img
                class="img-hd border-4px"
                src="./assets/images/squares.png"
                alt="Default Image"
              />
            </div>
          </a>
        </div>

        <p></p>

        <quote class="container"> "Quote here" </quote>

        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</section>
