<section id="articleSection">
  <div class="container max-8 flex-column a-i-start gap-2">
    <div class="container">
      <h1></h1>
      <h2 class="large">This is an H2 Large</h2>
      <h2></h2>
      <h3></h3>
      <h4></h4>
      <h4 class="small">This is an H4 small</h4>
    </div>

    <p class="intro">
      iBuyFlowers was founded by Wilfred de Wit, son of a Dutch lily grower.
      When he was young, he moved to Ecuador to start his own career in flowers.
      It was there that he realized that the flower industry needed a change.
    </p>

    <div class="container">
      <p class="bold">Bold body text 700 - 18px</p>
      <p class="">Medium body text 500 - 18px</p>
      <p class="regular">Regular body text 400 - 18px</p>
      <p class="italic">Italic body text 400 - 18px</p>
    </div>

    <div class="container">
      <p class="bold small">Bold body small text 700 - 16px</p>
      <p class="small">Medium body small text 500 - 16px</p>
      <p class="regular small">Regular body small text 400 - 16px</p>
      <p class="italic small">Italic body small text 400 - 16px</p>
    </div>

    <div class="container">
      <p class="description green">Description text</p>
      <p class="description">Description text</p>
    </div>

    <div class="container flex-column">
      <a class="primary">Link text</a>
      <a class="secondary">Link text</a>
    </div>

    <ul>
      <li>
        <a class="primary">Link</a>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ol>
      <li>
        <a class="primary">Link</a>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>

    <div class="container flex-column gap-2 a-i-center">
      <blockquote class="container flex-column max-6 gap-1">
        “iBuyFlowers was founded by Wilfred de Wit, son of a Dutch lily grower.
        When he was young, he moved to Ecuador to start his own career in
        flowers. It was there that he realized that the flower industry needed a
        change.”
        <p class="description">Description text</p>
      </blockquote>

      <blockquote class="container flex-column small max-6 gap-1">
        “iBuyFlowers was founded by Wilfred de Wit, son of a Dutch lily grower.
        When he was young, he moved to Ecuador to start his own career in
        flowers. It was there that he realized that the flower industry needed a
        change.”
        <p class="description">Description text</p>
      </blockquote>
    </div>

    <div class="container flex-column a-i-end gap-5">
      <div class="aspect-ratio-container container order-1-mobile">
        <a target="_blank" href="#">
          <div class="img-container">
            <img
              class="img-hd border-4px"
              src="./assets/images/squares.png"
              alt="Default Image"
            />
          </div>
        </a>
      </div>
      <figcaption>Credit text below an image</figcaption>
    </div>
  </div>
</section>
