<section id="categories" class="bg-extra-light-pink">
  <div class="container max-10 flex-column z-10 gap-1">
    <div class="container flex-column gap-25">
      <h2>Section title</h2>
    </div>

    <div class="container flex-row gap-1 side-scroll">
      <a target="_blank" href="{{ module.category_url_1.href|escape_url }}">
        <div class="container categories-card flex-column gap-5">
          <div class="img-container border-100">
            <img src="../images/squares.png" class="max-2 img-round" />
          </div>
          <p class="small-text">small text</p>
        </div>
      </a>

      <a target="_blank" href="{{ module.category_url_2.href|escape_url }}">
        <div class="container categories-card flex-column gap-5">
          <div class="img-container border-100">
            <img src="../images/squares.png" class="max-2 img-round" />
          </div>
          <p class="small-text">small text</p>
        </div>
      </a>

      <a target="_blank" href="{{ module.category_url_3.href|escape_url }}">
        <div class="container categories-card flex-column gap-5">
          <div class="img-container border-100">
            <img src="../images/squares.png" class="max-2 img-round" />
          </div>
          <p class="small-text">small text</p>
        </div>
      </a>

      <a target="_blank" href="{{ module.category_url_4.href|escape_url }}">
        <div class="container categories-card flex-column gap-5">
          <div class="img-container border-100">
            <img src="../images/squares.png" class="max-2 img-round" />
          </div>
          <p class="small-text">small text</p>
        </div>
      </a>

      <a target="_blank" href="{{ module.category_url_5.href|escape_url }}">
        <div class="container categories-card flex-column gap-5">
          <div class="img-container border-100">
            <img src="../images/squares.png" class="max-2 img-round" />
          </div>
          <p class="small-text">small text</p>
        </div>
      </a>

      <a target="_blank" href="{{ module.category_url_6.href|escape_url }}">
        <div class="container categories-card flex-column gap-5">
          <div class="img-container border-100">
            <img src="../images/squares.png" class="max-2 img-round" />
          </div>
          <p class="small-text">small text</p>
        </div>
      </a>
    </div>
  </div>
</section>
