<div
  id="dropdownContainerFlowers"
  class="container flex-column a-i-center padding-1em gap-1"
>
  <div class="container flex-row dropdown max-12 gap-24px">
    <div class="container flex-column gap-1">
      <ul id="highlighted" class="flex-column gap-5">
        <p class="category-title">Title</p>
        <li>Flower</li>
        <li>Flower</li>
        <li>Flower</li>
        <li>Flower</li>
        <li>Flower</li>
        <li>Flower</li>
        <li>Flower</li>
      </ul>
    </div>

    <div class="container flex-column gap-5">
      <p class="category-title">Title</p>
      <ul class="flex-column gap-5" id="regular">
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
      </ul>
    </div>

    <div class="container flex-column gap-5">
      <p class="category-title">Title</p>
      <ul class="flex-column gap-5" id="regular">
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
      </ul>
    </div>

    <div class="container flex-column gap-5">
      <p class="category-title">Title</p>
      <ul class="flex-column gap-5" id="regular">
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
        <a href="#"><li>Flower</li></a>
      </ul>
    </div>
  </div>
  <div class="container flex-row between j-c-center">
    <a href="" class="btn btn-secondary"> </a>
  </div>
</div>
