<div
  id="dropdownContainerColors"
  class="container flex-column a-i-center padding-1em gap-1"
>
  <div class="container flex-row dropdown max-12 gap-24px">
    <div class="container flex-column gap-1">
      <ul id="highlighted" class="flex-row wrap gap-24px max-6">
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
        <li class="min-2">🔴 Color</li>
      </ul>
    </div>

    <div class="container flex-column gap-5">
      <div id="data-component" data-component="components/banner.html"></div>
    </div>
  </div>
  <div class="container flex-row between j-c-center">
    <a href="" class="btn btn-secondary"> </a>
  </div>
</div>
