<section id="farmBannersSection">
  <div class="container max-12 flex-column z-10 gap-24px">
    <div class="container flex-row between a-i-center">
      <div class="container flex-column gap-25">
        <h2></h2>
      </div>
      <a href="" class="btn btn-tertiary" id="desktop-btn"> </a>
    </div>

    <div class="container grid-banners gap-24px">
      <div class="container" data-component="components/farmBanner.html"></div>
      <div class="container" data-component="components/farmBanner.html"></div>
      <div class="container" data-component="components/farmBanner.html"></div>

      <div class="container" data-component="components/farmBanner.html"></div>
      <div class="container" data-component="components/farmBanner.html"></div>
      <div class="container" data-component="components/farmBanner.html"></div>
    </div>
    <a href="" class="btn btn-tertiary" id="mobile-btn"> </a>
  </div>
</section>
