<!-- /////* list *///// -->
<div id="list" class="container flex-column gap-5">
  <ul class="flex-column gap-5" id="regular">
    <ul class="hidden-li">
      <a><li>Farm</li></a>
      <a><li>Farm</li></a>
      <a><li>Farm</li></a>
      <a><li>Farm</li></a>
      <a><li>Farm</li></a>
      <a><li>Farm</li></a>
      <a><li>Farm</li></a>
      <a><li>Farm</li></a>
    </ul>

    <a class="gap-5 a-i-center bold flex-row" id="more">
      <li class="flex-row gap-5 a-i-center">
        More
        <svg width="16" height="9" fill="none" id="arrow">
          <path
            d="M15 1L8 8L1 1"
            stroke="#0C331F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
    </a>
  </ul>
</div>
