<!-- /////* list *///// -->
<div id="list" class="container flex-column gap-5">
  <div class="container flex-row a-i-center between category-title">
    <p>Country</p>
    <img src="assets/images/squares.png" height="40px" width="40" />
  </div>
  <ul class="flex-column gap-5" id="regular">
    <a href="#"><li>Farm</li></a>
    <a href="#"><li>Farm</li></a>
    <a href="#"><li>Farm</li></a>
    <a href="#"><li>Farm</li></a>
    <a href="#"><li>Farm</li></a>
    <a href="#"><li>Farm</li></a>
    <br />
    <a href="#" class="gap-5 a-i-center bold">
      More
      <svg width="16" height="9" fill="none">
        <path
          d="M15 1L8 8L1 1"
          stroke="#0C331F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </ul>
</div>
