<!-- /////* list *///// -->
<div id="list" class="container flex-column gap-5">
  <div class="container flex-row a-i-center between category-title">
    <a class="primary no-underline">
      <p class="bold">Country</p>
    </a>
    <img src="assets/images/flags/Ecuador.png" height="40px" width="40" />
  </div>
  <div class="container flex-row a-i-center between category-title">
    <a class="primary no-underline">
      <p class="bold">Country</p>
    </a>
    <img src="assets/images/flags/Ecuador.png" height="40px" width="40" />
  </div>
  <div class="container flex-row a-i-center between category-title">
    <a class="primary no-underline">
      <p class="bold">Country</p>
    </a>
    <img src="assets/images/flags/Ecuador.png" height="40px" width="40" />
  </div>
</div>
