<section id="bannersSection">
  <div class="container max-12 flex-column z-10 gap-24px">
    <div class="container flex-column gap-25">
      <h2></h2>
    </div>
    <div class="container grid-lists max-12 gap-24px">
      <div class="container flex-column gap-5">
        <ul class="flex-column gap-5" id="regular">
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
        </ul>
      </div>

      <div class="container flex-column gap-5">
        <ul class="flex-column gap-5" id="regular">
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
        </ul>
      </div>

      <div class="container flex-column gap-5">
        <ul class="flex-column gap-5" id="regular">
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
        </ul>
      </div>

      <div class="container flex-column gap-5">
        <ul class="flex-column gap-5" id="regular">
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
          <a href="#"><li>Farm</li></a>
        </ul>
      </div>
    </div>
  </div>
</section>
