<section id="logosSection">
  <div class="container max-12 flex-column z-10 gap-24px">
    <div class="container flex-column gap-25">
      <h2></h2>
    </div>
    <div class="container max-12 flex-row between side-scroll gap-1">
      <img src="assets/images/logos/1.png" />
      <img src="assets/images/logos/2.png" />
      <img src="assets/images/logos/3.png" />
      <img src="assets/images/logos/4.png" />
      <img src="assets/images/logos/5.png" />
      <img src="assets/images/logos/6.png" />
      <img src="assets/images/logos/7.png" />
      <img src="assets/images/logos/8.png" />
    </div>
  </div>
</section>
