<section id="logosSection">
  <div class="container max-12 flex-column z-10 gap-24px">
    <div class="container flex-column gap-25">
      <h2></h2>
    </div>
    <div class="container flex-row max-12 side-scroll gap-1">
      <a rel="nofollow"><img src="assets/images/logos/1.png" /></a>
      <a rel="nofollow"><img src="assets/images/logos/2.png" /></a>
      <a rel="nofollow"><img src="assets/images/logos/3.png" /></a>
      <a rel="nofollow"><img src="assets/images/logos/4.png" /></a>
      <a rel="nofollow"><img src="assets/images/logos/5.png" /></a>
      <a rel="nofollow"><img src="assets/images/logos/6.png" /></a>
      <a rel="nofollow"><img src="assets/images/logos/7.png" /></a>
      <a rel="nofollow"><img src="assets/images/logos/8.png" /></a>
    </div>
  </div>
</section>
