<nav>
  <div class="container flex-row gap-1 j-c-center">
    <div class="container">
      <div class="top-half">
        <div class="left">
          <img src="images/logo2.svg" class="nav-logo" />
          <p>✅ Hi Jennifer... happy to see you</p>
        </div>
        <div class="right">
          <p>👩‍🚀 Support</p>
        </div>
      </div>

      <div class="bottom-half">
        <div class="left">
          <img src="images/logo3.svg" class="nav-logo" />
          <p>All flowers ⬆</p>
          <p>Colors ⬇</p>
          <p>More ⬇</p>
          <p class="burger">🍔</p>
        </div>

        <div class="center">
          <div class="search-container">
            <p>🔎</p>
            <input
              type="text"
              id="search-bar"
              placeholder="What flowers do you need?"
              autocomplete="off"
            />
            <div id="search-results" class="results"></div>
          </div>
        </div>

        <div class="right">
          <p>🙆‍♂️</p>
          <p>♥️</p>
          <p class="btn btn-confirmed">🛒 5</p>
        </div>
      </div>
    </div>
  </div>
</nav>
