<section id="newsletterSection" class="bg-pink">
  <div class="container max-10 flex-row gap-24px">
    <div class="container max-6 flex-column j-c-center gap-1">
      <div class="intro-text-container container flex-column a-i-start gap-25">
        <h4></h4>
        <h2 class=""></h2>
        <p class=""></p>
      </div>

      <form id="myForm" class="container flex-column gap-1">
        <input type="email" id="email" placeholder="Your Email" required />
        <button type="submit" id="submitBtn" class="btn btn-primary">
          Sign up
        </button>
      </form>
    </div>

    <div class="aspect-ratio-container container order-1-mobile">
      <a target="_blank" href="#">
        <div class="img-container">
          <img class="img-hd border-4px" />
        </div>
      </a>
    </div>
  </div>
</section>
