<section id="rich-text-with-cards">
  <div class="container max-10 flex-column gap-1">
    <h2>H2</h2>
    <p>p text</p>

    <div class="container flex-column gap-1">
      <div class="container max-12 flex-row gap-1 side-scroll">
        <a target="_blank" href="#">
          <div class="product-card-new">
            <div class="img-container">
              <img src="/images/squares.png" />
            </div>
            <div class="text-container">
              <h4>H4</h4>
              <p>P text</p>
            </div>
          </div>
        </a>
        <a target="_blank" href="#">
          <div class="product-card-new">
            <div class="img-container">
              <img src="/images/squares.png" />
            </div>
            <div class="text-container">
              <h4>H4</h4>
              <p>P text</p>
            </div>
          </div>
        </a>
        <a target="_blank" href="#">
          <div class="product-card-new">
            <div class="img-container">
              <img src="/images/squares.png" />
            </div>
            <div class="text-container">
              <p class="tags">Tag</p>
              <h4>H4</h4>
              <p>P text</p>
            </div>
          </div>
        </a>
        <a target="_blank" href="#">
          <div class="product-card-new">
            <div class="img-container">
              <img src="/images/squares.png" />
            </div>
            <div class="text-container">
              <p class="tags">Tag</p>
              <h4>H4</h4>
              <p>P text</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="container flex-column a-i-center">
      <a href="#" class="btn btn-secondary"> Button text </a>
    </div>
  </div>
  <script src="../scripts/product-cards.js"></script>
</section>
