<section id="spotlightBannerRegularImageWithCards">
  <div class="container max-12 flex-column gap-24px a-i-center">
    <div class="container max-10 flex-row gap-24px">
      <div class="container max-4 flex-column j-c-center gap-1">
        <div
          class="intro-text-container container flex-column a-i-start gap-25"
        >
          <h4></h4>
          <h2 class="">spotlight Banner - Regular Image With Cards</h2>
          <p class=""></p>
        </div>

        <a target="_blank" href="#" class="btn btn-secondary"> </a>
      </div>

      <div class="container flex-column a-i-end gap-5 order-1-mobile">
        <div class="aspect-ratio-container container">
          <a target="_blank" href="#">
            <div class="img-container">
              <img class="img-hd border-4px" />
            </div>
          </a>
        </div>
        <figcaption>Credits</figcaption>
      </div>
    </div>
    <!-- Card -->

    <div class="container max-12 flex-column z-10 gap-24px">
      <div class="container flex-row between a-i-center">
        <div class="container flex-column gap-25">
          <h2></h2>
        </div>

        <a href="" class="btn btn-tertiary" id="desktop-btn"> </a>
      </div>

      <div class="container flex-row gap-24px side-scroll-grid">
        <div data-component="components/cards/contentCard.html"></div>
        <div data-component="components/cards/contentCard.html"></div>
        <div data-component="components/cards/contentCard.html"></div>
        <div data-component="components/cards/contentCard.html"></div>
      </div>
    </div>

    <!-- Card -->
    <a href="" class="btn btn-tertiary" id="mobile-btn"> </a>
  </div>
</section>
