<!-- Component Container -->
<section id="spotlightBannerWithCards" class="bg-image">
  <!-- Main Container -->
  <div class="container max-10 flex-column gap-24px">
    <!-- Text -->
    <div class="aspect-ratio-container hidden-image">
      <img alt="Decorative Squares" />
    </div>
    <div class="container max-4 flex-column a-i-start gap-1">
      <div class="intro-text-container container flex-column start gap-5">
        <h2 class="large">spotlight Banner With Cards</h2>
        <h4 class="t-left order-1"></h4>
        <p id="show" class="t-left"></p>
      </div>

      <a id="show" target="_blank" href="#" class="btn btn-primary"></a>
    </div>
    <!-- Text -->

    <div class="flex-column gap-5 j-c-end">
      <div id="carousel-arrows" class="container j-c-end flex-row gap-1">
        <img
          src="/assets/images/arrow.svg"
          alt=""
          style="transform: rotate(90deg)"
          class="pointer"
        />
        <img
          src="/assets/images/arrow.svg"
          alt=""
          style="transform: rotate(-90deg)"
          class="pointer"
        />
      </div>
    </div>

    <!-- Card -->
    <div class="container flex-row gap-24px side-scroll small">
      <div data-component="components/cards/productCardSmall.html"></div>
      <div data-component="components/cards/productCardSmall.html"></div>
      <div data-component="components/cards/productCardSmall.html"></div>
      <div data-component="components/cards/productCardSmall.html"></div>
    </div>
    <!-- Card -->

    <div id="hide" class="container max-4 flex-column a-i-start gap-1">
      <p class="t-left"></p>
      <a target="_blank" href="#" class="btn btn-primary"></a>
    </div>
  </div>
</section>
