<section id="spotlight-banner" class="bg-image">
  <div class="container max-10 flex-column gap-1">
    <div class="aspect-ratio-container hidden-image">
      <img src="./images/squares.png" alt="Decorative Squares" />
    </div>
    <div class="container max-4 flex-column a-i-start gap-1">
      <div
        class="intro-text-container container flex-column start gap-5 {{ 'white-text' if module.use_white_text else '' }}"
      >
        <h1 class="t-left">H1 text</h1>
        <h4 class="t-left order-1">H4 text</h4>
        <p class="t-left">p text</p>
      </div>
      <div class="container flex-column gap-1">
        <div class="container max-12 flex-row gap-1 side-scroll">
          <a target="_blank" href="#">
            <div class="product-card-new">
              <div class="img-container">
                <img src="/images/squares.png" />
              </div>
              <div class="text-container">
                <h4>H4</h4>
                <p>P text</p>
              </div>
            </div>
          </a>
          <a target="_blank" href="#">
            <div class="product-card-new">
              <div class="img-container">
                <img src="/images/squares.png" />
              </div>
              <div class="text-container">
                <h4>H4</h4>
                <p>P text</p>
              </div>
            </div>
          </a>
          <a target="_blank" href="#">
            <div class="product-card-new">
              <div class="img-container">
                <img src="/images/squares.png" />
              </div>
              <div class="text-container">
                <p class="tags">Tag</p>
                <h4>H4</h4>
                <p>P text</p>
              </div>
            </div>
          </a>
          <a target="_blank" href="#">
            <div class="product-card-new">
              <div class="img-container">
                <img src="/images/squares.png" />
              </div>
              <div class="text-container">
                <p class="tags">Tag</p>
                <h4>H4</h4>
                <p>P text</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <a target="_blank" href="#" class="btn btn-primary"> Button text </a>
    </div>
  </div>
</section>
