<section id="uspSection">
  <div class="container max-12 flex-row z-10 gap-24px a-i-center">
    <div class="container flex-row a-i-center j-c-center gap-1">
      <img src="assets/images/delivery-icon.webp" class="img-square" />
      <p class="">Easy <strong>24/7</strong> online ordering</p>
    </div>
    <div class="container flex-row a-i-center j-c-center gap-1">
      <img src="assets/images/delivery-icon.webp" class="img-square" />
      <p class="">Easy <strong>24/7</strong> online ordering</p>
    </div>
    <div class="container flex-row a-i-center j-c-center gap-1">
      <img src="assets/images/delivery-icon.webp" class="img-square" />
      <p class="">Easy <strong>24/7</strong> online ordering</p>
    </div>
    <div class="container flex-row a-i-center j-c-center gap-1">
      <img src="assets/images/delivery-icon.webp" class="img-square" />
      <p class="">Easy <strong>24/7</strong> online ordering</p>
    </div>
  </div>
</section>
