<section id="uspSection">
  <div class="container max-12 flex-row z-10 gap-24px a-i-center">
    <div class="container flex-row a-i-center gap-1">
      <img src="assets/images/squares.png" class="img-square max-1" />
      <p>Easy <strong>24/7</strong> online ordering</p>
    </div>
    <div class="container flex-row a-i-center gap-1">
      <img src="assets/images/squares.png" class="img-square max-1" />
      <p>Easy <strong>24/7</strong> online ordering</p>
    </div>
    <div class="container flex-row a-i-center gap-1">
      <img src="assets/images/squares.png" class="img-square max-1" />
      <p>Easy <strong>24/7</strong> online ordering</p>
    </div>
    <div class="container flex-row a-i-center gap-1">
      <img src="assets/images/squares.png" class="img-square max-1" />
      <p>Easy <strong>24/7</strong> online ordering</p>
    </div>
  </div>
</section>
