<div class="container card">
  <a class="card" target="_blank" href="#">
    <div class="moodboard-card-new">
      <div class="img-container img-square">
        <img src="assets/images/moodboard.png" />
      </div>
      <div class="text-container container flex-column gap-5">
        <div class="container flex-row between">
          <p class="description">Tag "Optional"</p>
        </div>
        <div class="container flex-column gap-5">
          <p class="product-title">Flower name</p>
          <p class="small">Short moodboard description</p>
        </div>
      </div>
    </div>
  </a>
</div>
