<div class="container card">
  <div class="heart" id="heartBtn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="heart-icon"
      fill="none"
      stroke-width="1.5"
    >
      <path
        padding="1em"
        id="heartPath"
        d="M7.7,4c-2.4,0-4.7,1.6-4.7,4.6s3.9,6.9,8.4,11.1c.2.2.4.3.6.3s.5,0,.6-.3c4.5-4.3,8.4-7.8,8.4-11.1s-2.3-4.6-4.7-4.6-3.3,1.2-4.3,2.7c-1-1.5-2.6-2.7-4.3-2.7Z"
      />
    </svg>
  </div>

  <a class="card container" target="_blank" href="#">
    <div class="product-card-small">
      <div class="img-container img-square">
        <img src="assets/images/rose.jpg" />
      </div>
      <div class="text-container container flex-column gap-5">
        <div class="container flex-column gap-5">
          <p class="product-title">Flower name</p>
          <p class="small">Starting from $0.99 p/stem</p>
        </div>
      </div>
    </div>
  </a>
</div>
