.my-new-module-template {
  background-color: #e6f7ff;
  padding: 2em;
}

#banners > div > div {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

@media (max-width: 767px) {
  #banners > div > div {
    display: flex;
  }
}
